/**
 * Created by Samuel Gratzl on 01.09.2014.
 */

.tooltip {
  position: absolute;
  display: none;

  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 10px;

  pointer-events: none; //doesn't interact with the mouse
  z-index : 10; //on top
}
